<div class="card m-5 p-3" style="width: 50vw;">
    <h6 class="card-title mb-2 fs-4 text-capitalize">cliente</h6>
    <p class="card-text">nombre de cliente</p>
    <h6 class="card-title mb-2 fs-4 text-capitalize">Servicio</h6>
    <p class="card-text">identificador de servicio</p>
    <h6 class="card-title mb-2 fs-4 text-capitalize">consulta</h6>
    <p class="card-text">tipo de ticket</p>
    <h6 class="card-title mb-2 fs-4 text-capitalize">descripcion</h6>
    <p class="card-text">descripcion de la consulta</p>
    <h6 class="card-title mb-2 fs-4 text-capitalize">Area</h6>
    <p class="card-text">nombre de el area donde fue dirigido el ticket</p>
    <h6 class="card-title mb-2 fs-4 text-capitalize">Personal a cargo</h6>
    <p class="card-text">nombre de personal a cargo de la solucion del ticket</p>
    <h6 class="card-title mb-2 fs-4 text-capitalize">Estado de ticket</h6>
    <p class="card-text">estado de ticket</p>
    <h6 class="card-title mb-2 fs-4 text-capitalize">fecha de creacion</h6>
    <p class="card-text">fecha de creacion del ticket</p>
    <h6 class="card-title mb-2 fs-4 text-capitalize">fecha de modificacion</h6>
    <p class="card-text">fecha de modificacion del ticket</p>
    <h6 class="card-title mb-2 fs-4 text-capitalize">Soluciones</h6>
    <p class="card-text">lista de soluciones al ticket</p>
    <h6 class="card-title mb-2 fs-4 text-capitalize">Historial</h6>
    <p class="card-text">lista historial de ticket</p>
</div>
